<!-- #Left Sidebar ==================== -->
<aside class="sidebar">
  <div class="sidebar-inner">
    <!-- ### $Sidebar Menu ### -->
    <ul class="sidebar-menu scrollable">
      <li class="nav-item-category">Menu</li>
      <li class="nav-item">
        <a class="sidebar-link" routerLink="/administration">
          <span class="icon-holder">
            <i class="material-icons">
              work
            </i>
          </span>
          <span class="title">Přehled</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="sidebar-link" href="JavaScript:void(0);">
          <span class="icon-holder">
            <i class="material-icons">
              work
            </i>
          </span>
          <span class="title">Položky</span>
          <span class="arrow">
            <i class="material-icons">
              keyboard_arrow_down
            </i>
          </span>
        </a>
        <ul class="nav-menu-sub">
          <li class="nav-item">
            <a class="sidebar-link" routerLink="items">
              <span class="icon-holder">
                <i class="material-icons">
                  list
                </i>
              </span>
              <span class="title">Přehled položek</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="sidebar-link" routerLink="item-form">
              <span class="icon-holder">
                <i class="material-icons">
                  add
                </i>
              </span>
              <span class="title">Přidat položku</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="sidebar-link" href="JavaScript:void(0);">
          <span class="icon-holder">
            <i class="material-icons">
              view_agenda
            </i>
          </span>
          <span class="title">Články</span>
          <span class="arrow">
            <i class="material-icons">
              keyboard_arrow_down
            </i>
          </span>
        </a>
        <ul class="nav-menu-sub">
          <li class="nav-item">

            <a class="sidebar-link" routerLink="articles">
              <span class="icon-holder">
                <i class="material-icons">
                  list
                </i>
              </span>
              <span class="title">Přehled článků</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="sidebar-link" routerLink="article-form">
              <span class="icon-holder">
                <i class="material-icons">
                  add
                </i>
              </span>
              <span class="title">Přidat článek</span>
            </a>
          </li>
        </ul>
      <li class="nav-item">
        <a class="sidebar-link" routerLink="orders">
          <span class="icon-holder">
            <i class="material-icons">
              work
            </i>
          </span>
          <span class="title">Objednávky</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="sidebar-link" routerLink="">
          <span class="icon-holder">
            <i class="material-icons">
              work
            </i>
          </span>
          <span class="title">Zpátky do eshopu</span>
        </a>
      </li>
    </ul>
  </div>
</aside>

