@import "./src/variables.scss";


app-header {
  .no-outline {
    outline: none;
  }

  header {
    max-width: $max-width;
    margin: 0px auto;
    padding: 0px 15px;
    color: #fff;
    height: 100%;

    .login {
      position: relative;
      margin-right: -15px;
      text-transform: none;

      a {
        cursor: pointer;
        color: inherit;
        text-decoration: none;
      }

      mat-icon {
        float: right;
        font-size: 16px;
        margin-right: 5px;
        margin-top: 4px;
        height: auto;
        border-left: 1px solid $secondary-color;
      }

      span {
        float: right;
      }

      .menu-open {
        float: right;
        display: block;
        margin-top: 2px;
        margin-right: 5px;
        letter-spacing: 1px;
        font-size: 13px;
        font-family: Calibri;
        font-weight: bolder;
        cursor: pointer;
      }


      #matMenu {
        display: none;
        position: absolute;
        width: 180px;
        background-color: #fff;
        right: 0px;
        top: 30px;
        z-index: 999999;
        color: black;
        list-style-type: none;
        padding-left: 0px;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

        .menu-item {
          border-bottom: 1px solid rgba(0,0,0,.025);

          .mat-menu-item {
            width: 100%;
            display: flex;

            .mat-menu-icon {
              float: left;
              padding: 11px;
              margin: 0px;
              font-size: 20px;
              border-left: none;
            }

            span {
              margin-left: 15px;
              margin-top: -1px;
              font-size: 15px;
              padding: 11px;
            }
          }
        }
      }
    }

    .top {
      padding: 5px 30px;
      border-bottom: 1px solid $secondary-color;
      max-height: 36px;
      margin: 0px -15px 0px;

      .social {
        ul {
          display: block;
          margin-left: -10px;

          li {
            i {
              transition: all 0.3s ease;
              font-size: 15px;

              &:hover {
                color: $third-color;
                text-decoration: none;
                cursor: pointer;
                transition: all 0.3s ease;
              }
            }
          }
        }
      }

      .contact {
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: none;
        font-weight: normal;

        li {
          padding-left: 15px;
        }
      }

      row {
        max-height: 25px;
      }
    }

    .logo-wrapper {
      max-width: 100%;
      margin-top: 0px;

      .logo {
        margin-top: 5px;
        max-width: 100%;
      }
    }

    .list-inline {
      .list-inline-item {
        padding: 34px;
        padding-right: 10px;
        padding-left: 10px;

        a {
          font-weight: bolder;
          letter-spacing: 1px;
          font-family: Calibri;
          font-size: 15px;
          text-transform: none;
          color: #fff;
          transition: all 0.3s ease;

          &:hover {
            color: $third-color;
            text-decoration: none;
            transition: all 0.3s ease;
          }
        }
      }
    }

    .search-wrapper {
      .search {
        margin-top: 23px;
        text-align: left;
        font-family: Calibri;
        background: transparent;
        border-color: $secondary-color;
        height: 45px;
        border-radius: 10px;
        padding-right: 30px;
        color: #fff;
      }

      mat-icon {
        position: absolute;
        top: 34px;
        right: 20px;
      }
    }
  }

  .shopping-cart {
    .cart-wrapper {
      position: relative;
      margin-top: 23px;
      border: 1px solid;
      width: 100%;
      border-color: #69b1e3;
      background-color: transparent;
      border-radius: 10px;
      color: #fff;
      transition: all 0.3s ease;
      height: 45px;
      padding: 6px;

      &:hover {
        cursor: pointer;
      }

      a {
        width: 100%;
        display: block;

        .cart-icon {
          color: white;
          padding-top: 6px;
          padding-left: 3px;
          font-size: 19px;
        }

        .total-price {
          float: right;
          color: white;
          font-family: calibri;
          font-size: 15px;
          letter-spacing: 1px;
          padding: 4px;
          padding-right: 0px;
        }
      }



      .count {
        position: absolute;
        display: block;
        background-color: $secondary-color;
        font-size: 10px;
        text-align: center;
        margin: 6px;
        left: 18px;
        top: 15px;
        border-radius: 25px;
        z-index: 999;
        color: #fff;
        width: 15px;
        height: 15px;
      }
    }
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: Calibri;
    color: #fff;
  }
}
